@import '../abstracts/mixins';

body {
    font-family: 'Asap', sans-serif;
}
/**
* Heading Styles to be applied to all
*/
@include headings(1,5){
    line-height: 1.2;
    color: $dark-grey;
    margin-bottom: 1.6rem;
}
/**
* Set Header Font Sizes From SASS Map
*/
@each $heading, $font-size in (
    h1: 4.8rem,
    h2: 3.6rem,
    h3: 2.8rem,
    h4: 2.8rem,
    h5: 1.4rem 
) {
    #{$heading} {
        font-size: #{$font-size};
    }
}
/**
* Specific Text Sections
*/
.sub-heading {
    font-size: 1.4rem;
    color: $dark-grey;
}

.summary {
    font-size: 2rem;
    font-weight: 700;
}

p {
    color: $light-grey;
    font-size: 1.6rem;
}

.nav-link {
    font-size: 1.7rem;
}

.uppercase {
    text-transform: uppercase;
}

code {
    font-size: 1.6rem;
    font-weight: 700;
}

