.container {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

/**
* Set Box Model On Root Element
*/

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #dfe4ea;
}

/**
  * Inherit To Preserve Child Inheritance
  */

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.button {
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 5px;
  margin: 1rem 1rem 1rem 0;
  text-decoration: none;
  display: inline-block;
  border: none;
  cursor: pointer;
  color: #dfe4ea;
}

.button:visited {
  color: #dfe4ea;
}

.button--edit {
  background-color: #2ecc71;
  padding: 0.5rem 2rem;
}

.button--delete {
  background-color: #e74c3c;
  padding: 1rem 2rem;
}

code {
  background-color: rgba(0, 0, 0, 0.7) !important;
  border-radius: 2px;
  margin-bottom: 2rem;
}

.title {
  max-width: 590px;
  margin: 0 auto 5rem auto;
}

.topic {
  border-radius: 5px;
  background-color: rgba(26, 188, 156, 0.8);
  padding: 8px 12px;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 1rem 1rem 0rem 0rem;
  color: rgba(223, 228, 234, 0.9) !important;
}

.topic__container {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.topic__container > a {
  text-decoration: none;
}

.topic__container > a:visited {
  text-decoration: none;
}

form {
  font-size: 1.6rem;
  font-weight: 700;
  color: rgba(68, 68, 68, 0.9);
}

form * {
  font-family: 'Asap', sans-serif;
  font-size: 1.6rem;
  color: rgba(68, 68, 68, 0.9);
}

form * input,
form select {
  height: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: block;
  width: 50%;
  border: 1px solid rgba(68, 68, 68, 0.8);
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
}

form * textarea {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: block;
  width: 100%;
  height: 20rem;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.5);
}

form * button {
  margin-top: 1.6rem;
  letter-spacing: 0.5px;
  padding: 1rem 2.75rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #dfe4ea;
  background-color: rgba(68, 68, 68, 0.9);
  border-radius: 4px;
  cursor: pointer;
}

.footer {
  background-color: rgba(0, 0, 0, 0.8);
  height: 6rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer__link {
  font-weight: 700;
  font-size: 1.6rem;
  margin-right: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__link > svg {
  height: 2rem;
  margin-right: 1rem;
  fill: #dfe4ea;
}

.footer__anchor {
  color: rgba(223, 228, 234, 0.8);
  text-decoration: none;
}

.footer__anchor:visited {
  color: rgba(223, 228, 234, 0.8);
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

.col-1 {
  margin: 0 1.5rem;
  -ms-flex-preferred-size: 8.33333333%;
      flex-basis: 8.33333333%;
}

.col-2 {
  margin: 0 1.5rem;
  -ms-flex-preferred-size: 16.66666667%;
      flex-basis: 16.66666667%;
}

.col-3 {
  margin: 0 1.5rem;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.col-4 {
  margin: 0 1.5rem;
  -ms-flex-preferred-size: 33.33333333%;
      flex-basis: 33.33333333%;
}

.col-5 {
  margin: 0 1.5rem;
  -ms-flex-preferred-size: 41.66666667%;
      flex-basis: 41.66666667%;
}

.col-6 {
  margin: 0 1.5rem;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.col-7 {
  margin: 0 1.5rem;
  -ms-flex-preferred-size: 58.33333333%;
      flex-basis: 58.33333333%;
}

.col-8 {
  margin: 0 1.5rem;
  -ms-flex-preferred-size: 66.66666667%;
      flex-basis: 66.66666667%;
}

.col-9 {
  margin: 0 1.5rem;
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.col-10 {
  margin: 0 1.5rem;
  -ms-flex-preferred-size: 83.33333333%;
      flex-basis: 83.33333333%;
}

.col-11 {
  margin: 0 1.5rem;
  -ms-flex-preferred-size: 91.66666667%;
      flex-basis: 91.66666667%;
}

.col-12 {
  margin: 0 1.5rem;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.header {
  background-color: rgba(0, 0, 0, 0.8);
  height: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 7rem;
}

.header__title {
  -ms-flex-item-align: center;
      align-self: center;
  margin: 0 0 0 5rem;
}

.header__title > a {
  font-size: 2.4rem;
  font-weight: 700;
  color: #dfe4ea;
  text-decoration: none;
}

.header__title > a:visited {
  color: #dfe4ea;
}

.main-navigation .navigation__container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.main-navigation .navigation__item {
  list-style: none;
  padding: 1rem 4rem 1rem 0rem;
}

.main-navigation .navigation__item > a {
  color: #dfe4ea;
  text-decoration: none;
}

.main-navigation .navigation__item > a:visited {
  text-decoration: none;
  color: #dfe4ea;
}

.pagination {
  margin: 3rem 0rem;
}

.pagination__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination__link {
  padding: 0 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2;
  color: #444444;
  text-decoration: none;
}

.pagination__link:visited {
  text-decoration: none;
}

.posts__post {
  max-width: 590px;
  margin: 0 auto;
  margin-bottom: 3rem;
  border-bottom: 1px rgba(0, 0, 0, 0.2);
}

.posts__post-link {
  text-decoration: none;
  color: rgba(68, 68, 68, 0.9);
}

.posts__post-link:visited {
  color: #444444;
}

.posts__post p {
  padding-top: 1.2rem;
}

.sidebar-title {
  margin-bottom: 3rem;
}

.sidebar-topic__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.sidebar-topic__container > a {
  display: inline-block;
  margin-left: 1rem;
}

.sidebar-navigation {
  font-size: 1.5rem;
}

.sidebar-navigation li {
  list-style: none;
  margin-top: 1.2rem;
}

.sidebar-navigation * a {
  text-decoration: none;
  color: #444444;
}

.sidebar-navigation * a:visited {
  color: #444444;
}

/**
    For a given range of headings, iterate and apply styling
*/

/**
* Apply standard content styling
*/

.about-content {
  max-width: 590px;
  margin: 0 auto 3rem auto;
  padding-bottom: 3rem;
  border-bottom: 1px rgba(0, 0, 0, 0.2);
}

/**
    For a given range of headings, iterate and apply styling
*/

/**
* Apply standard content styling
*/

.post-content {
  max-width: 590px;
  margin: 0 auto 3rem auto;
  padding-bottom: 3rem;
  border-bottom: 1px rgba(0, 0, 0, 0.2);
}

.post p {
  padding: 0 0 2rem 0;
}

.post.edit-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 1.6rem;
}

/*
Monokai style - ported by Luigi Maselli - http://grigio.org
*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #272822;
  color: #ddd;
}

.hljs-tag,
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-strong,
.hljs-name {
  color: #f92672;
}

.hljs-code {
  color: #66d9ef;
}

.hljs-class .hljs-title {
  color: white;
}

.hljs-attribute,
.hljs-symbol,
.hljs-regexp,
.hljs-link {
  color: #bf79db;
}

.hljs-string,
.hljs-bullet,
.hljs-subst,
.hljs-title,
.hljs-section,
.hljs-emphasis,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-tag,
.hljs-template-variable {
  color: #a6e22e;
}

.hljs-comment,
.hljs-quote,
.hljs-deletion,
.hljs-meta {
  color: #75715e;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-doctag,
.hljs-title,
.hljs-section,
.hljs-type,
.hljs-selector-id {
  font-weight: bold;
}

/**
    For a given range of headings, iterate and apply styling
*/

/**
* Apply standard content styling
*/

body {
  font-family: 'Asap', sans-serif;
}

/**
* Heading Styles to be applied to all
*/

h1 {
  line-height: 1.2;
  color: #444444;
  margin-bottom: 1.6rem;
}

h2 {
  line-height: 1.2;
  color: #444444;
  margin-bottom: 1.6rem;
}

h3 {
  line-height: 1.2;
  color: #444444;
  margin-bottom: 1.6rem;
}

h4 {
  line-height: 1.2;
  color: #444444;
  margin-bottom: 1.6rem;
}

h5 {
  line-height: 1.2;
  color: #444444;
  margin-bottom: 1.6rem;
}

/**
* Set Header Font Sizes From SASS Map
*/

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.8rem;
}

h5 {
  font-size: 1.4rem;
}

/**
* Specific Text Sections
*/

.sub-heading {
  font-size: 1.4rem;
  color: #444444;
}

.summary {
  font-size: 2rem;
  font-weight: 700;
}

p {
  color: #666666;
  font-size: 1.6rem;
}

.nav-link {
  font-size: 1.7rem;
}

.uppercase {
  text-transform: uppercase;
}

code {
  font-size: 1.6rem;
  font-weight: 700;
}

