.header {
    background-color: $dark-black;
    height: 4.5rem;
    @include sm() {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 7rem;
        height: 5rem;
    }
    margin-bottom: 4rem;
    &__title {
        padding-top: 0.5rem; 
        margin-left: 2rem;
        align-self: center;
        @include sm() {
            margin: 0 0 0 5rem;
        }
        > a {
            font-size: 2.4rem;
            font-weight: 700;
            color: $white;
            text-decoration: none;
            &:visited {
                color: $white;
            }
        }
    }
}