nav {
    background-color: rgba(black, 0.8);
    height: 8rem;
    .navigation {
        &__container {
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
        }
        &__item {
            list-style: none;
            padding: 1rem 4rem 1rem 0rem;
            > a {
                color: white;
                text-decoration: none;
                &:visited {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}