.posts {
    &__container {
        max-width: $content-width;
        margin: 0 auto;
        margin-bottom: 3rem;
        > h4 {
            padding-bottom: 0.5rem;
        }
        >  h4 + div {
           padding-top: 1.2rem;
           padding-bottom: 1.2rem;
        }
        * a {
            text-decoration: none;
            color: black;
            &:visited {
                color: black;
            }
        }
        p {
            padding-top: 1.2rem;
        }
    }
}