.posts {
    &__post {
        max-width: $content-width;
        margin: 0 auto;
        margin-bottom: 3rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid $light-black;
        &-link {
            text-decoration: none;
            color: rgba($dark-grey, 0.9);
            &:visited {
                color:$dark-grey;
            }
        }
        p {
            padding-top: 1.2rem;
        }
    }
}