.sidebar {
    &-title {
        margin-bottom: 3rem;
    }
    &-navigation {
        font-size: 1.5rem;
        li {
            list-style: none;
            margin-top: 1.2rem;
        }
        * a {
            text-decoration: none;
            color: #444444;
            &:visited {
                color: #444444;
            }
        }
    }
}