// Widths
$max-width: 1200px;
$content-width: 590px;

// Colours
$white: #EFEFEF;
$light-grey: rgba(#444444, 0.9);
$dark-grey: #444444;
$light-black: rgba(black, 0.2);
$dark-black: rgba(black, 0.8);
$green:#02C8A7;
$emerald: #2ecc71;
$red: #e74c3c;

// Breakpoints
$breakpoints: (
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px
);

