// Widths
$max-width: 1200px;
$content-width: 590px;

// Colours
$white: #dfe4ea;
$light-grey: #666666;
$dark-grey: #444444;
$light-black: rgba(black, 0.2);
$dark-black: rgba(black, 0.8);
$green: rgba(#1abc9c, 0.8);
$emerald: #2ecc71;
$red: #e74c3c;

// Breakpoints
$breakpoints: (
    'sm': 576px,
    'md': 768px,
    'lg': 992px,
    'xl': 1200px
);

